<a href="https://colab.research.google.com/github/ono-sayuri/CursoPython/blob/main/Aula06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

leia do teclado uma temperatura em graus Fahrenheit e mostre na tela o seu valor convertido em Celsius. Lembrando que (c/5) = (f-32)/9. (Valores inválidos: menores que -457,69)

In [1]:
f = float(input("Insira a temperatura em °F: "))
while f < -457.69:
  print("A temperatura inserida é inválida.\n")
  f = float(input("Insira a temperatura em °F: "))
c = ((f - 32) / 9) * 5
print("Temperatura em °C: {:.2f}" .format(c))

Insira a temperatura em °F: -458
A temperatura inserida é inválida.

Insira a temperatura em °F: 35
Temperatura em °C: 1.67

leia do teclado uma temperatura em graus Celsius e mostre na tela o seu valor convertido em Kelvin. Lembrando que 0 grau Kelvin = -273,15 Celsius.(Valores inválidos: números negativos).

In [3]:
c = float(input('Insira a temperatura em °C: '))
while c < -273.15:
  print('Valor inválido. Não é possível uma temperatura menor que o 0 absoluto.')
  c = float(input('Insira a temperatura em °C: '))
k = c + 273.15
print('Temperatura em K: {:.2f}' .format(k))

Insira a temperatura em °C: -300
Valor inválido. Não é possível uma temperatura menor que o 0 absoluto.
Insira a temperatura em °C: 5
Temperatura em K: 278.15

Para a7=0 enquanto a7 menor que 10, incrementando 1, insira um outro while aninhado internamente contendo para a8=0 até a8 menor que 10, incrementando 1, mostre na tela "(a7,a8)".

In [4]:
a7=0
while a7 < 10:
  a7 += 1
  a8 = 0
  while a8 < 10:
    a8 += 1
    print('{},{}' .format(a7,a8))

1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
1,10
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
2,10
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9
3,10
4,1
4,2
4,3
4,4
4,5
4,6
4,7
4,8
4,9
4,10
5,1
5,2
5,3
5,4
5,5
5,6
5,7
5,8
5,9
5,10
6,1
6,2
6,3
6,4
6,5
6,6
6,7
6,8
6,9
6,10
7,1
7,2
7,3
7,4
7,5
7,6
7,7
7,8
7,9
7,10
8,1
8,2
8,3
8,4
8,5
8,6
8,7
8,8
8,9
8,10
9,1
9,2
9,3
9,4
9,5
9,6
9,7
9,8
9,9
9,10
10,1
10,2
10,3
10,4
10,5
10,6
10,7
10,8
10,9
10,10

Para a6=10 enquanto a6 maior ou igual a 0, decrementando 1, mostre na tela o seu número.

In [9]:
a6 = 10
while a6 >= 0:
  print(a6)
  a6 -= 1

10
9
8
7
6
5
4
3
2
1
0

Para a5=0 enquanto a5 menor ou igual a 10, incrementando 1, mostre na tela o seu número multiplicado por 10.

In [10]:
a5 = 0
while a5 <= 10:
  print(a5 * 10)
  a5 += 1

0
10
20
30
40
50
60
70
80
90
100

In [11]:
for a5 in range (11):
  print(a5 * 10)

0
10
20
30
40
50
60
70
80
90
100

Crie um vetor de int vetA com tamanho 5 e mostre na tela os valores de seus elementos

In [13]:
from random import randint
vetA = []
for i in range (5):
    vetA.insert(i, randint(0, 100))
print(vetA)

[28, 54, 46, 30, 91]

Considere a lista de compras de Joana e faça o que se pede:

lista_de_compras = [“batata”, “arroz”, “feijão”, “macarrão”, “detergente”]

1 - Mostre na tela o tamanho da lista.

In [17]:
lista_de_compras = ['batata', 'arroz', 'feijão', 'macarrão', 'detergente']
print('Tem {} elementos na sua lista do mercado'.format(len(lista_de_compras)))

Tem 5 elementos na sua lista do mercado

2 - Joana descobriu que não precisa de arroz, mas sim de jiló. Realize a substituição do item.

In [18]:
lista_de_compras = ['batata', 'arroz', 'feijão', 'macarrão', 'detergente']
lista_de_compras[1] = 'jiló'
print(lista_de_compras)

['batata', 'jiló', 'feijão', 'macarrão', 'detergente']

3 - Joana encontrou um detergente na sua cozinha, elimine o item.

In [19]:
lista_de_compras = ['batata', 'jiló', 'feijão', 'macarrão', 'detergente']
lista_de_compras.pop()
print(lista_de_compras)

['batata', 'jiló', 'feijão', 'macarrão']

4 - Joana se lembrou que precisa de abacates. Realize a inserção do item na lista

In [22]:
lista_de_compras = ['batata', 'jiló', 'feijão', 'macarrão']
lista_de_compras.insert(4, 'abacates')
print(lista_de_compras)

['batata', 'jiló', 'feijão', 'macarrão', 'abacates']

5 - Mostre todos os itens de forma individual utilizando um comando FOR.

In [24]:
lista_de_compras = ['batata', 'jiló', 'feijão', 'macarrão', 'abacates']
for i in range(len(lista_de_compras)):
    print('O {}° item da lista é {}'.format(i + 1, lista_de_compras[i]))

O 1° item da lista é batata
O 2° item da lista é jiló
O 3° item da lista é feijão
O 4° item da lista é macarrão
O 5° item da lista é abacates