<a href="https://colab.research.google.com/github/ono-sayuri/CursoPython/blob/main/Aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Enquanto a1=0 for menor que 5, incrementando 1 a cada laço, mostre na tela o seu número.

In [9]:
a1 = 0

while a1 < 5:
  print(a1)
  a1 += 1

0
1
2
3
4

Enquanto a2=0 for menor que 3, incrementando 1 a cada laço, mostre na tela o seu número multiplicado por 10.

In [10]:
a2 = 0

while a2 < 3:
  print(a2 * 10)
  a2 += 1

0
10
20


Enquanto a3=20  for maior que 10, decrementando 1 a cada laço, mostre na tela o seu número.

In [11]:
a3 = 20

while a3 > 10:
  print(a3)
  a3 -= 1

20
19
18
17
16
15
14
13
12
11

Para a4=0 enquanto a4 menor que 10, incrementando 1, mostre na tela o seu número

In [12]:
a4 = 0

while a4 < 10:
  print(a4)
  a4 += 1

0
1
2
3
4
5
6
7
8
9

Enquanto a1=0 for menor que 5, incrementando 1 a cada laço, mostre na tela o seu número. [UTILIZANDO FOR]

In [13]:
a1 = 0

for a1 in range(5):
  print(a1)

0
1
2
3
4

Enquanto a2=0 for menor que 3, incrementando 1 a cada laço, mostre na tela o seu número multiplicado por 10. [UTILIZANDO FOR]

In [14]:
a2 = 0

for a2 in range(3):
  print(a2*10)

0
10
20

Enquanto a3=20 for maior que 10, decrementando 1 a cada laço, mostre na tela o seu número. [UTILIZANDO FOR]

In [15]:
a3 = 20

for a3 in range(20, 10, -1):
  print(a3)

20
19
18
17
16
15
14
13
12
11

Para a4=0 enquanto a4 menor que 10, incrementando 1, mostre na tela o seu número. [UTILIZANDO FOR]

In [18]:
a4 = 0

for a4 in range(10):
  print(a4)

0
1
2
3
4
5
6
7
8
9

Um trabalhador trabalha 40 horas por semana. Escreva um algoritmo que leia o número de horas trabalhadas em cada semana de um mês, o salário por hora e escreva o salário total do mês do funcionário (considere que o mês possua 4 semanas exatas). Considere que o trabalhador que trabalhar mais de 40 horas em uma semana, recebe hora extra de 50% nas horas que foram trabalhadas a mais. O número de horas por semana não pode ser negativo e não pode ultrapassar 50 horas por semana.

In [42]:
valor = 0
for semana in range(1,5):
  horas = float(input("Insira o número de horas trabalhadas na {}ª semana: ".format(semana)))
  while horas < 0 or horas > 50:
    print("Não é permitido o múmero de horas ser negativo ou superior a 50 h semanais")
    horas = float(input("Insira o número de horas trabalhadas na {}ª semana: ".format(semana)))
  valor += horas
salario_hora = float(input("Insira o salário por hora em R$ "))
valor_extra = 0
for semana in range(1,5):
    horas_extras = float(input("Insira o número de horas extras trabalhadas na {}ª semana: ".format(semana)))
    while horas_extras > 10:
        horas_extras = float(input("Insira novamente o número de horas extras trabalhadas na {}ª semana: ".format(semana)))
    valor_extra += horas_extras
salario_extra = salario_hora * 1.5
salario_total = (valor) * salario_hora + (valor_extra) * salario_extra
print("Salário total sem acréscimos de horas extras: R${:.2f}".format(salario_total))

Insira o número de horas trabalhadas na 1ª semana: 40
Insira o número de horas trabalhadas na 2ª semana: 51
Não é permitido o múmero de horas ser negativo ou superior a 50 h semanais
Insira o número de horas trabalhadas na 2ª semana: 50
Insira o número de horas trabalhadas na 3ª semana: 45
Insira o número de horas trabalhadas na 4ª semana: 29
Insira o salário por hora em R$ 37.5
Insira o número de horas extras trabalhadas na 1ª semana: 5
Insira o número de horas extras trabalhadas na 2ª semana: 10
Insira o número de horas extras trabalhadas na 3ª semana: 20
Insira novamente o número de horas extras trabalhadas na 3ª semana: 10
Insira o número de horas extras trabalhadas na 4ª semana: 1
Salário total sem acréscimos de horas extras: R$7612.50

leia 3 valores (A, B e C) representando as medidas de um triângulo. Mostrar se tais medidas formam um triângulo ou não. Lembre-se que o valor de cada lado deve ser menor que a soma dos outros 2 lados e deve ser maior que o valor absoluto da diferença entre os outros 2 lados.

| B - C | <  A  < B + C

| A - C | <  B  < A + C

| A - B | <  C  < A + B

In [22]:
a = float(input("Insira o valor de A: "))
b = float(input("Insira o valor de B: "))
c = float(input("Insira o valor de C: "))

while a<0 and b<0 and c<0:
  if a<0:
    a = float(input("Insira o valor de A: "))
  elif b<0:
    b = float(input("Insira o valor de B: "))
  elif c<0:
    c = float(input("Insira o valor de C: "))
if ((abs(b-c))<a<(b+c)) or ((abs(a-c))<b<(a+c)) or ((abs(a-b))<c<(a+b)):
    print("As medidas {:.2f}, {:.2f} e {:.2f} formam um triângulo" .format(a,b,c))
else:
    print("Não é possível formar um triângulo com essas medidas.")

Insira o valor de A: 10
Insira o valor de B: 12
Insira o valor de C: 12
As medidas 10.00, 12.00 e 12.00 formam um triângulo